#main-footer {
    background: #1d3c4e;
    color: #1d3c4e;
    padding: 1.5rem;
  }
  
  #main-footer .nav-link {
    color: #fff;
    text-align: center;
  }
  #main-footer .nav-link:hover { opacity: .7; }
  
  @media (min-width: 992px) {
    #main-footer .nav-link span { display: block; }
  }